

@media (min-width: 1000px) {
  
  .admin-panel{
    display: grid;
    grid-template-areas: 
    'lp lp mp mp'
    'lp lp mp mp'
    'sp sp sp sp'
    'sp sp sp sp'
    ;
    grid-gap: 10px;
  }
  .side-panel{
    grid-area: sp;
  }
  .middle-panel{
    grid-area: mp;
  }
  .last-panel{
    grid-area: lp;
  }
}

.admin-panel{
  display: grid;
  grid-gap: 10px;
}

.data-circle{
  position: relative;
  border: 6px solid rgb(255, 213, 47);
}
circle{
  fill: none;
  stroke: greenyellow;
  stroke-width: 10px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
}
svg{
  position: absolute;
  top: 0;
  left: 0;
}

.test {
  border: 2px solid greenyellow;
}

