

@media (min-width: 1000px) {
  
  .admin-panel{
    display: grid;
    grid-template-areas: 
    'lp lp mp mp'
    'lp lp mp mp'
    'sp sp sp sp'
    'sp sp sp sp'
    ;
    grid-gap: 10px;
  }
  .side-panel{
    grid-area: sp;
  }
  .middle-panel{
    grid-area: mp;
  }
  .last-panel{
    grid-area: lp;
  }
}

.admin-panel{
  display: grid;
  grid-gap: 10px;
}

